= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    .error_explanation
      h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      ul
      - user.errors.full_messages.each do |message|
        li = message

  .field
    = form.label :name
    = form.text_field :name, id: :name

  .field
    = form.label :email
    = form.text_field :email, id: :user_email

  .field
    = form.label :password
    = form.password_field :password

  .actions
    = form.submit
