p#notice
  = notice
h1 Users

table
  thread
    tr
      th Name
      th Email
      th colspan="3"
    tr

  tbody
    - @users.each do |user|
      tr
        td = user.name
        td = user.email
        td = link_to 'Show', user
        td = link_to 'Edit', edit_user_path(user)
        td = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
