p#notice
  = notice
p
  strong> Name:
  = @user.name
p
  strong> Email:
  = @user.email
p
  - if @user.microposts.first
    = @user.microposts.first.content
  - else
    This user has not posted yet.

=> link_to 'Edit', edit_user_path(@user)
'|
= link_to 'Back', users_path
