= form_with(model: micropost, local: true) do |form|
  - if micropost.errors.any?
      div id="error_explanation"
        h2
          = pluralize(micropost.errors.count, "error")
          prohibited this micropost from being saved:
        ul
        -  micropost.errors.full_messages.each do |message|
           li= message

  .field
    = form.label :content
    = form.text_area :content, id: :micropost_content


  .field
    = form.label :user_id
    = form.number_field :user_id, id: :micropost_user_id

  .actions
    = form.submit
