p#notice
  = notice
h1 Microposts

table
  thread
    tr
      th Content
      th User
      th colspan="3"
    tr

  tbody
    - @microposts.each do |micropost|
      tr
        td = micropost.content
        td = link_to 'Show', micropost
        td = link_to 'Edit', edit_micropost_path(micropost)
        td = link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }

br
= link_to 'New Micropost', new_micropost_path
