doctype html
html
  head
    title ToyApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = yield
    br
    br
    - if user_signed_in?
      = link_to('Logout', destroy_user_session_path, method: :delete)
